<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ARPrint Cart</title>

    <link rel="stylesheet" href="css/cart.css">
</head>
    <body>
        <header class="container">
            <nav>
                <input type="checkbox" id="nav" class="hidden">
                <label for="nav" class="nav-btn">
                    <i></i>
                    <i></i>
                    <i></i>
                </label>
                <div class="logo">
                    <a href="/">ARPrint</a>
                </div>
                <div class="nav-wrapper">
                    <ul>
                        <li><a href="/search">Search Artist</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Sign Up</a></li>
                        <li><a href="/logout">Logout</a></li>
                        <li><a href="/cart">Purchase</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    
    <main>
        <h1>Cart</h1>
        
        <form method="POST"><input type="hidden" name="_csrf" />
        <script class="stripe-button" src="https://checkout.stripe.com/checkout.js" data-image="https://opic2.pbsrc.com/print/prints/1_Prints_1x.jpg"
        data-name="ARPrint" data-description="Prints" data-amount="5000"></script>
        </form>
    </main>


    </body>
</html>
