head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title
  link(href='https://fonts.googleapis.com/css?family=Teko' rel='stylesheet')
  link(rel='stylesheet' href='css/main.scss')
.container
  nav
    input#nav.hidden(type='checkbox')
    label.nav-btn(for='nav')
      i
      i
      i
    .logo
      a(href='#') PHOTOGRAPHY PRINT SHOP
    .nav-wrapper
      header
        section#one
          a(href='#') Home
        section#two
          a(href='#') Artist
        section#three
          a(href='#') Search
        section#four
          a(href='#') Log In
        section#five
          a(href='#') Sign Up
main
  img(src='images/main.jpg' alt='')
script(src='js/main.js' type='text/javascript')
